:root {
	--slider-color: rgb(241, 145, 109);
	--thumb-color: Coral;
}

.thumb {
	position: relative;
	height: 25px;
	background: var(--thumb-color);
	width: 10px;
	border-radius: 3px;
	top: -5px;
	cursor: pointer;
}
.slider {
	position: relative;
	height: 10px;
	border-radius: 3px;
	background: var(--slider-color);
	opacity: 0.6;
}
